<div class="flex flex-row items-center space-x-2 rtl:space-x-reverse">
  <span class="text-sm font-semibold text-gray-900 "> <%= message.user.username %> :</span>
  <span class="italic text-sm font-semibold text-gray-900 "> <%= message.body %> </span>
</div>